.match-container{
    display: grid;
    align-items: center;
    gap: 2.5rem;
    border-radius: 1rem;
    background-color: blur(20px);
}
body {
    
    
    background-image: url("../Assets/match-bg.jpg");
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif; 
}

.match-heading{
    font-weight: 600;
    font-size: 40px;
    width: 100vw;
    
}

.match-box{
       backdrop-filter: blur(20px);
    height: 110px;
    border-radius: 1rem;
    border: 5px solid black;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

    .match-box:hover{
        backdrop-filter: blur(90px);
        transform: scale(1.03);
    }