 .scoreCardSession{
    height: 100vh;
    background-image: url("../Assets/scorecard.jpg");
    background-size: cover;
    margin-bottom: 0px;
}

.scoreCardContent{
  display: flex;
  flex-direction: row;
}

.match-summary {
  display: flex;
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: white;
  width: 400px;
  height: auto;
  transition: all 1s ease-in;
}
.teams {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team img {
  width: 50px;
  height: 50px;
}
.score {
  font-size: 2em;
  margin:auto;
  
}
.goals {
  width: 100%;
  margin-bottom: 20px;
}
.goal {
  display: flex;
  justify-content: space-between;
}
.players-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.players-list .team-players {
  width: 45%;
}


.playerRatingTable {
  width: 350px;
  height: auto;
  border: 1px solid white;
  text-align: center;

  margin: auto;
  padding: 10px;
  background-color: white;
  transition: all 1s ease-in;
}

.playerRatingTableHeadRow, .playerRatingTableDataRow {
  text-align: center;
  padding: 8px;
  height: 25px;
  width: 50px
}

.playerRatingTableDataRow:nth-child(even) { 
  background-color: #636161;
}

.playerRatingTableHead {
  background-color: #001829;
  color: white;
  
}



.scoreCardTable {
    width: 30%;
    height: auto;
    border: 1px solid white;
    text-align:center;
    border-radius: 4%;
    margin: auto;
  
    padding: 10px 10px 10px 10px; 
    background-color: white;
    transition: all 1s ease-in

}

  
  .scoreCardHeadRow, .scoreCardData {
    text-align: center;
     padding: 8px;
    
  }
  
  .rowStyle:nth-child(even) {background-color: #636161;}

  .scoreCardHead {
    background-color: #001829;
    color: white;
  }
.tableHead{
    margin-bottom: 20px;
    margin: auto;
    color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    
}

.scoreCardOutline{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreCardOutline .button{
    display: flex;
    justify-content: center;
}
.ScoreCardbutton{
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
    height: 30px;
    border-radius: 20%;
    transition: all 1s ease-in;
}

.match-summary:hover, .playerRatingTable:hover, .scoreCardTable:hover{
  transform: scale(1.05);
}

.ScoreCardbutton:hover{
    background-color:#001829;
    color: white;
}

.ScoreCardbuttonDiv{
    margin: auto;
}

@keyframes scorecard {
    0%   {top:-200px;}
    
    100% { top:0px; transform: scale(1.01);}

    
  }
  

  .scoreCardOutline {
    
    position: relative;
    animation-name: scorecard;
    animation-duration: 1s;
  } 

  .scorecardbtn{
    text-decoration: none;
    
  }